.Rubrik {
    text-align: center;
    font-size: 3em;
    color: white; 
}
    
.textrubrik{
    font-size: 200%;
    text-align: center;
    
}
    

.underrubrik{
    text-align: center;
    color: white;
    align-content: center;
    
}
    
.text{
    color: black;
    text-align: center;
    background-color: white;
   
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../img/bg_road2.jpg);
    background-size: cover;
}
.link{
    padding: 25px;
    color: white;
    background-color: darkred;
    
}

label{
    color: white;
    
}